body, ul, li, h1, h2, a, p{
    /* strip styling and set default font  */
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    background-color: #320902;
    padding: 32px;
    text-align: center;
    position: fixed;
    width: 100%;
    /* bring it forward more is forward, less is back */
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    /* border: 8px solid white; */
    padding: 6px 12px;
    /* only take up the space around the element instead of full page  */
    display: inline-block;
    /* draw a round border  */
    /* border-radius: 36px; */
}
aboutTop{
    margin-top: 40px;
}
article{
    padding-top: 30px;
}
.banner{
    /* set this to relative so we can manipulte 
    children relative to its position */
    position: relative;
    width: 100%;

}
.banner img{
    /* /* max-width: 100%; */
    /* height: auto;  */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.banner .welcome{
    /* remove from document flow doesn't maintain space
    anymore  */
    position: absolute;
    left: 0;
    /* position it 30 % from top of banner */
    top: 30%;
    background-color: #1B0801;
    color: white;
    padding: 30px;
}
.banner h2{
    font-size: 74px;
}

.container img{
    /* /* max-width: 100%; */
    /* height: auto;  */
    width: 30%;
    height: 30%;
    object-fit: contain;
    padding: 10px;
    margin: 0px;
}
nav{
    background-color: #f4f4f4;
    padding: 20px;

    /* when nav bar gets to 106 px it stays below the banner
     and sticks to page  */
    position: sticky;
    top: 126px;
}
nav ul{
    /* adding this to keep the li from dropping to the next line  */
    white-space: nowrap;
    max-width: 1200px;
    /* if there is any space left over center  */
    margin: 0 auto;
}
nav li{
    /* make them take 1/4 of the space  */
    width: 20%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.selectedLink{
    color: #C13201;
}
main{
    /* set it to max or 1200 whichever is smaller  */
    max-width: 100%;
    width: 1200px;
    /* this will be relative to the viewport matched
     with width from above */
    margin: 80px auto;
    padding: 0 40px;
    /* this will keep the padding from 
    pushing it off the page on smaller screens */
    box-sizing: border-box;
}
article h2{
    color: #320902;
    font-size: 48px;
}
article p{
    /* space the sentences out by 2 x the font height */
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    /* again keep the li from wrapping  */
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    /* this is 100% of the parent container 
    in this case li  */
    max-width: 100%;
}

section.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 36px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    /* adding a border to use later with hover  */
    border: 4px solid white;
}
footer{
    /* make it match header  */
    background: #320902;
    color: white;
    padding: 10px; 
    text-align: center;
}
.scroll-sec{
margin-bottom: 166px;
}

.headings{
    text-align: center;
    font-size: 63px;
    color: #320902;
    margin-top: 30px;
}
/* pseudo classes */
nav li a:hover{
    text-decoration: underline;
    color: #711703;
    
}
.images li:hover{
    /* doing this to nudge it up a few  */
    position: relative;
    top: -4px;
}
form input:focus{
    /* when in focus style it some  */
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    /* once becomes valid style it green 
    and make the border solid  */
    border: 4px solid #71d300;
}

/* psuedo elements */
article p::first-line{
    /* style the first line bold and a bit bigger */
    font-weight: bold;
    font-size:1.2em;
}
section.join p::first-letter{
    font-size: 1.5em;
}
h2::selection{
    background-color: #320902;
    color: white;
}
p::selection{
    /* change the hightlight and text color when selected */
    background-color: #320902;
    color: white;
}
p::after{
    /* let the use know more is coming by inserting ...  */
    content: '...';
}
footer p::after{
    content: '';
}

/* ------ Responsive styles ---- */
/* to help with different browser sizes */

/* for max width of 1400px or less  */
@media screen and (max-width: 1400px) {
    .banner .welcome h2{
        /* shrink font sizes */
        font-size: 60px;
    }
    nav li{
        /* shrink font sizes */
        font-size: 18px;
    }
}

/* for max width of 1400px or less  */
@media screen and (max-width: 960px) {
    .banner .welcome h2{
        /* shrink font sizes */
        font-size: 40px;
    }
    
}

/* for max width of 1400px or less  */
@media screen and (max-width: 700px) {
    
    .banner .welcome{
        /* make the welcome now sit below banner 
        and restyle some*/
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        /* shrink font sizes */
        font-size: 25px;
    }
    .banner .welcome span{
        /* shrink font sizes so all words are same now */
        font-size: 1em;
    }
    .images li{
        /* make the width take up entire page 
        and now images sit on top of each other */
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}


/* for max width of 1400px or less  */
@media screen and (max-width: 560px){
    nav li{
        /* make fonts bigger for mobile  */
        font-size: 20px;
        /* also make the links now sit on top of each other */
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header{
        position: relative;
    }
    nav{
        /* change the nav now that we are not 
        showing the header so it still stays on top  */
        top: 0;
    }
}